*{
    box-sizing: border-box;
}
span{
    color: rgb(200, 20, 150);
}
body{
   background-color: rgb(0, 27, 39);
   margin: 0px;
   color: white ;
   
    
}
main section{
    margin: 20px;

}
main{
    background-color: white;
    width: 1300px;
    margin: 0 auto;
}
.box{
    box-sizing: border-box;
    background-color: rgb(0, 98, 153);
    width: 420px;
    padding: 10px 15px;
    margin: 5px;
}
.depoi{
    background-color: rgb(204, 236, 255);
    color: black;
}
button{

    background-color: rgb(0, 98, 153);
    border: hidden;
    color: white;
}
button a{
    text-decoration: none;
    color: white;
}
.sla{
    color:#000;
   
}
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
}
.menu a{
    text-decoration: none;
}
.banner{
    position: relative;
    color: black;
    top: 20px;
}
.banner img{
    width: 100%;
  

}
.banner article{
    color: white;;
    top: 190px;
    left: 90px;
    position: absolute;
    width:300px;
}
.banner h2{
    font-size: 5em;
    margin: 0;

}
.banner small{
    font-size: 1.5em;
}
.portfolio{
    display: flex;
    justify-content: space-between;
}
.motivacao{
    display: flex;
    flex-direction: row;
    
}
.col1{
    width: 55%;
}
.col2{
    width:40%;
}
.float{
    float: left;
    margin-right: 10px;
}
.secundaria{
    width: 650px;
   justify-content: center;
    background-color: rgb(204, 236, 255);
 
}
.menu a:hover{
    font-weight: bold;
}
.menu{
    list-style: none;
    padding-left:0 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    
    width: 450px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
header h1{
    font-size: 2em;
    margin: 0;
    
    
}
header,main,footer{
    width: 1300px;
    margin: 0 auto;
}
header nav a{
    
    color: white;
}
header .menu{
    margin-top: 5px;
}


@media( (min-width:577px) and (max-width:768px)){
   header h1{
      font-size: 1.3em;
    }
    main,header,footer{
        margin: 0 auto;
        width: 650px;
    }
    main{
        background-color: white;  
    }
 
    header .menu{
      list-style: none;
      padding-left:0 ;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 400px;
      margin-left: 10px;
   
      
      
  }
  .banner{
    position: relative;
 }
  .banner h2{
      font-size: 2.5em;
    }
    .banner small{
        font-size: 1em;
    }
    .banner article{
       top: 60px;
        left: 15px;

    }
    .portfolio{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
}
.box{
    margin: 0;
    margin-top: 10px;
    width: 300px;
}
.box:last-child{
    width: 100%;
}
  
  
      
  }
  
  @media(max-width:576px){
      main,footer,header{
          width: 100%;
          margin: 0;
      }
      .menu{
          display: none;
      }
      .banner{
        position: relative;
     }
     .banner h2{
        font-size: 2em;

     }
     .banner small{
         font-size: 1em;
     }
     .banner article{
         top: 15%;
         left: 5%;
        
     }
     .portfolio{
         flex-wrap: wrap;
         
        
     }
     .box{
        width: 100%;
     }
     .motivacao{
         flex-wrap: wrap;
         flex-direction: column;
     }
     .col1{
         width: 100%;
         display: flex;
         flex-direction: column;
     }
     .col1 h2{
         transform: translateX(20%);
     }
     .col2{
         width: 100%;
     }
     .col2 h2{
        transform: translateX(20%);
    }
    header h1{
        font-size: 1.5em;
    }
    .hamb{
        margin-top: 10px;
        width: 50px;
    }

  
  }
  
  


