.jumbotron{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/611/838/413/spiderman-hd-4k-superheroes-wallpaper-thumb.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
